APP_NAME="AI-Parser"
APP_VERSION="0.1"
GEMINI_API_KEY=""

FILE_ALLOWED_TYPES=["text/plain", "application/pdf", "application/vnd.openxmlformats-officedocument.wordprocessingml.document"]
FILE_MAX_SIZE=10
FILE_DEFAULT_CHUNK_SIZE=512000